<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>


<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

    <th>
      Private?
    </th>

    <% if @current_user != nil %>
    <th></th>
    <% end %>

    <th></th>

  </tr>

    <tr>
    <% @list_of_users.each do |a_user| %>
      <td>
        <%= a_user.username %>
      </td>

      <td>
        <%= humanize_boolean(a_user.private) %>
      </td>

      <td>

        <form action="/insert_follow_request" method="post">
          <input type="hidden" name="query_recipient_id" value="91">

          <button>
            Follow
          </button>
        </form>
      </td>

      <td>
        <a href="/users/<%= a_user.username %>">Show details</a>
      </td>
    </tr>
    <tr>
      <td>
        anisa
      </td>

      <td>
          Yes
      </td>

      <td>

            Request sent.

            <a href="/delete_follow_request/2355">
              Cancel
            </a>
      </td>

      <td>
        <a href="/users/anisa">Show details</a>
      </td>
    </tr>
    <tr>
    <% end %>
  </div>  
</div>  
